{% extends 'base.html.twig' %}

{% block body %}
    <h1>Skewer</h1>

     <table class="table-borderless table-responsive">
                           <tr scope="row" class="pb-2">
                               <td ><h6 class="text-muted">Nombre</h6></td>
                               <td>{{ skewer.name }}</td>
                           </tr>
                           <tr scope="row" class="pb-2">
                               <td><h6 class="text-muted"></h6></td>
                               <td><img src="{{ skewer.calories }}"></td>
                           </tr>

                           
                          

 
                       </table>

    <ul>
        <li>
            <a href="{{ path('skewer_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
